git+https://github.com/Rapptz/discord.py
discord.py==1.3.2
aiohttp
websockets
chardet
dnspython==1.16.0
PyNaCl==1.3.0
async-timeout==3.0.1
sys
random
re
xml.etree.ElementTree
io
os
time
platform
inspect
textwrap
datetime
timedelta
collections
math
json
discord.ext 
traceback
sqlite3
urllib.parse
validators
BucketType
gmtime
strftime
logging
logging.handlers
traceback
hashlib
collections 
discord.utils
